# IntelliJ IDEA
.idea/
*.iml

# Build output
out/
target/
build/

# Java compiled files
*.class

# Generated JavaDoc
index-files/
allclasses-index.html
allpackages-index.html
element-list
help-doc.html
index.html
member-search-index.js
module-search-index.js
overview-summary.html
overview-tree.html
package-search-index.js
script.js
search-page.js
search.html
search.js
stylesheet.css
tag-search-index.js
type-search-index.js
copy.svg
anzeige/
kalender/
legal/